<!DOCTYPE html>
<html>
  <head>
    <title>HikersGuide</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= stylesheet_link_tag    'https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.css'%>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
